.header{
  background-color: #141414;
  color: white;
  position: relative;
}

.header__li-tag{
  list-style: none;
}

.header__list{
  margin: 0;
  display: inline-block;
}

.header__navigation{
  display: inline-block;
}
