.main-button { display: block; outline: none; height: 34px; border: 1px solid #43A1E9; border-radius: 5px; font-size: 8px; font-weight: bold; background-color: transparent; padding: 0 20px; }

.main-button:hover { background-color: #43A1E9; color: white; }

.main-button_style_news { margin: auto; margin-top: 60px; }
