.recomendations{
  padding: 13px 108px;
  display: flex;
  justify-content: center;
}

.recomendations__container{
  margin: 0 10px;
  padding: 26px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  justify-content: flex-start;
}

.recomendations__container_small{
  width: 235px;

}
.recomendations_header{
  margin: 0;
}

.recomendations_text{
  font-weight: bold;
  font-size: 10px;
}

.recomendations__button{
    margin-top: 20px;
}

.recomendations__column{
  display: inline-block;
}

.recomendations__image{
  padding-left: 70px;
}

.recomendations__header_small{
  display: block;

}
