.recomendations { padding: 13px 108px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.recomendations__container { margin: 0 10px; padding: 26px; background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: space-around; -ms-flex-align: space-around; align-items: space-around; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.recomendations__container_small { width: 235px; }

.recomendations__header { margin: 0; }

.recomendations__header_small { display: block; }

.recomendations_text { font-weight: bold; font-size: 10px; }

.recomendations__button { margin-top: 20px; }

.recomendations__image { padding-left: 70px; }
