$grey_color: #F5F5F5

.body
      margin: 0
      font-family: Roboto-Regular
      min-width: 1280px

      &__elem
            padding: 0 108px

      &__elem_is-header
            padding: 13px 108px

      &__elem_centered
            margin: 16px 20%

      &__phone-number
            margin: 0

      &__small-text
            font-size: 10px
            color: #A6A6A6

      &__elem_overlined
            border-top: 1px solid $grey_color
            position: relative

      &__elem_bg-color_grey
            background-color: $grey_color

      &__elem_news
            padding-bottom: 60px
