.product
  &__pictures
    display: flex
    flex-direction: row
    align-items: center

  &__picture-chooser
    width: 70px

  &__preview
    display: block
    border: 2px solid #F5F5F5

  &__preview_active
    border-color: #FBE65C
